body {
  background-image: linear-gradient(
    233deg,
    #5d8ca7 0%,
    #ceb3c4 35%,
    #f5edde 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 25px;
}
li {
  padding: 10px;
}
#Coldbrew {
  background-color: #ceb3c4;
  height: 500px;
  display: flex;
  margin: 30px;
}
#coldbrewPNG {
  width: 50%;
}
#Chaitea {
  background-color: #ceb3c4;
  height: 500px;
  display: flex;
  margin: 30px;
}
#chaiteaPNG {
  width: 50%;
}
