body {
  background-image: linear-gradient(
    233deg,
    #5d8ca7 0%,
    #ceb3c4 35%,
    #f5edde 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #ceb3c4;
}

.topnav {
  display: flex;
  overflow: hidden;
  height: 100px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

/* .dropdown-content {
  /* float: ; */
/* } */
#Coldbrew {
  background-color: #ceb3c4;
  height: 500px;
  display: flex;
  margin: 30px;
}
#coldbrewPNG {
  width: 50%;
}
#Chaitea {
  background-color: #ceb3c4;
  height: 500px;
  display: flex;
  margin: 30px;
}
#chaiteaPNG {
  width: 50%;
}
